.pages-div{
    display: none;
}
#loading{
    display: none;
    text-align: center;
}
#createCampaignPanel{
    display: none;
}
#campaignUrl{
    display: none;
}
#campaignloading{
    display: none;
    text-align: center;
}